{% extends "./base.html" %} {% block title %}Editing "{{ post.slug }}" – {{
base.name }}{% endblock %} {% block mainstuff %}style="height: 100%; display:
flex; flex-direction: column;"{% endblock %} {% block content %}
<script>
    globalThis._app_base.auth_token = "{{ auth_token }}";
</script>

<div class="flex flex-col w-full h-full">
    {% if is_admin %}
    <ul class="green small">
        <li>Admin enabled</li>
    </ul>
    {% endif %}

    <!-- toolbar -->
    <div class="flex">
        <a class="button tab secondary" href="/{{ post.slug }}/edit">Text</a>
        <button class="button tab secondary" disabled>Preview</button>
        <button class="button tab">Config</button>
    </div>

    <!-- editor -->
    <form class="flex flex-col w-full" id="submit_form" style="flex: 1 0">
        <div
            class="card flex flex-col gap-2 animate-fade-in"
            style="flex: 1 0"
            id="context_editor"
        >
            <!-- edit history -->
            <div class="flex flex-col gap-2">
                <b>Edit history</b>

                {% for (i, ip) in post.ips.iter().enumerate() %}
                <div class="card secondary round flex justify-between gap-2">
                    <div class="flex gap-2">
                        <span class="date">{{ ip.0 }}</span>

                        {% if is_admin %}
                        <span class="opacity-75">{{ ip.1 }}</span>
                        {% endif %}
                    </div>

                    {% if i == post.ips.len() - 1 %}
                    <span class="opacity-75">Latest</span>
                    {% endif %}
                </div>
                {% endfor %}

                <a
                    class="w-max"
                    href="#"
                    onclick="document.getElementById('token_login').showModal()"
                    data-turbo="false"
                >
                    More
                </a>
            </div>

            <hr />

            <!-- context -->
            <div class="flex flex-col gap-2" style="flex: 1 0">
                <b>Config</b>

                <div
                    class="flex flex-col gap-2"
                    id="context_editor_source"
                ></div>
            </div>
        </div>

        <!-- actions -->
        <fieldset class="w-full my-2">
            <!-- inputs -->
            <div class="gap-2 flex items-center float-right mb-2">
                <!-- prettier-ignore -->
                <input
                    name="password"
                    id="password"
                    {% if passwordless %}
                    placeholder="Not needed, you're the owner!"
                    {% else %}
                    placeholder="Password"
                    {% endif %}
                    required
                    class="small"
                    {% if passwordless %}
                    disabled
                    {% endif %}
                />
            </div>

            <!-- submit -->
            <button class="round mb-2 !text-emerald-800 dark:!text-emerald-300">
                Save
            </button>
        </fieldset>
    </form>
</div>

<!-- init editor -->
<!-- prettier-ignore -->
<script type="application/json" id="context">{{ post_context|safe }}</script>

<script>
    globalThis._app_base.annc = {
        type: "info",
        title: "Notice",
    };

    use("context", (context) => {
        context.context_editor(
            document.getElementById("context_editor_source"),
            "{{ post.slug }}",
            JSON.parse(document.getElementById("context").innerHTML),
        );

        context.submit_hook("{{ post.slug }}");
    });
</script>

<!-- dialogs -->
<dialog id="token_login">
    <div class="inner">
        <form
            class="flex gap-2 flex-col"
            onsubmit="event.preventDefault(); set_token(event)"
        >
            <label for="token">Token</label>
            <input id="token" name="token" />

            <div class="flex justify-between">
                <div></div>

                <div class="flex gap-2">
                    <button
                        class="green"
                        onclick="document.getElementById('token_login').close()"
                    >
                        Okay
                    </button>

                    <button
                        class="red"
                        onclick="document.getElementById('token_login').close()"
                        type="button"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</dialog>

<script>
    function set_token(e) {
        fetch(`/api/v0/util/token?token=${e.target.token.value}`, {
            method: "POST",
        });
    }
</script>
{% call super() %} {% endblock %}
