{% extends "./base.html" %} {% block title %}Editing "{{ post.slug }}" – {{
config.name }}{% endblock %} {% block mainstuff %}style="height: 100%; display:
flex; flex-direction: column;"{% endblock %} {% block content %}
<style>
    #page {
        height: max-content !important;
    }
</style>

<div class="flex flex-col w-full">
    {% if is_powerful %}
    <ul class="green small">
        <li>Editing as admin</li>
    </ul>
    {% endif %}

    <!-- toolbar -->
    <div class="flex justify-between">
        <div class="flex">
            <a class="button tab secondary" href="/{{ post.slug }}/edit"
                >Text</a
            >
            <button class="button tab secondary" disabled>Preview</button>
            <button class="button tab">Config</button>
        </div>
    </div>

    <!-- editor -->
    <form class="flex flex-col w-full" id="submit_form" style="flex: 1 0">
        <div
            class="card flex flex-col gap-2 animate-fade-in"
            style="flex: 1 0"
            id="context_editor"
        >
            <!-- auth status -->
            {% if !config.rainbeam_host.is_empty() %} {% if let Some(user) =
            profile %}
            <div class="card secondary round flex flex-col gap-2">
                <span>Editing as: <b>{{ user.username }}</b></span>
                <button
                    class="red round"
                    onclick="trigger('app:logout')"
                    type="button"
                >
                    Logout
                </button>
            </div>
            {% else %}
            <div class="card secondary round flex flex-col gap-2">
                <span>Editing as: <b>anonymous</b></span>
                <button
                    class="theme:primary round"
                    onclick="document.getElementById('token_login').showModal()"
                    type="button"
                >
                    Login
                </button>
            </div>
            {% endif %}
            <hr />
            {% endif %}

            <!-- edit history -->
            <div class="flex flex-col gap-2">
                <b>Edit history</b>

                {% for (i, ip) in post.ips.iter().enumerate() %}
                <div class="card secondary round flex justify-between gap-2">
                    <div class="flex gap-2">
                        <span class="date">{{ ip.0 }}</span>

                        {% if is_powerful %}
                        <a
                            class="opacity-75"
                            href="{{ config.rainbeam_host }}/+i/{{ ip.1 }}"
                            >{{ ip.1 }}</a
                        >
                        {% endif %}
                    </div>

                    {% if i == post.ips.len() - 1 %}
                    <span class="opacity-75">Latest</span>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <hr />

            <!-- context -->
            <div class="flex flex-col gap-2" style="flex: 1 0">
                <b>Config</b>

                <div
                    class="flex flex-col gap-2"
                    id="context_editor_source"
                ></div>
            </div>
        </div>

        <!-- actions -->
        <fieldset class="w-full my-2">
            <!-- inputs -->
            <div class="gap-2 flex items-center float-right mb-2">
                <!-- prettier-ignore -->
                <input
                    name="password"
                    id="password"
                    {% if passwordless %}
                    placeholder="Not needed, you're the owner!"
                    {% else %}
                    placeholder="Password"
                    {% endif %}
                    required
                    class="small"
                    {% if passwordless %}
                    disabled
                    {% endif %}
                />
            </div>

            <!-- submit -->
            <button class="round mb-2 !text-emerald-800 dark:!text-emerald-300">
                Save
            </button>
        </fieldset>
    </form>
</div>

<!-- init editor -->
<!-- prettier-ignore -->
<script type="application/json" id="context">{{ post_context|safe }}</script>

<script>
    globalThis._app_base.annc = {
        type: "info",
        title: "Notice",
    };

    use("context", (context) => {
        context.context_editor(
            document.getElementById("context_editor_source"),
            "{{ post.slug }}",
            JSON.parse(document.getElementById("context").innerHTML),
        );

        context.submit_hook("{{ post.slug }}");
    });
</script>

<!-- dialogs -->
<dialog id="token_login">
    <div class="inner">
        <form class="flex gap-2 flex-col" id="login_form">
            <div class="card round secondary">
                Hosted by
                <a href="{{ config.rainbeam_host }}"
                    >{{ config.rainbeam_host }}</a
                >
            </div>

            <div class="row flex flex-col gap-1">
                <label for="username">Username</label>
                <input
                    type="text"
                    name="username"
                    id="username"
                    required
                    minlength="2"
                    maxlength="32"
                />
            </div>

            <div class="row flex flex-col gap-1">
                <label for="acc_password">Password</label>
                <input
                    type="password"
                    name="acc_password"
                    id="acc_password"
                    required
                    minlength="6"
                />
            </div>

            <div
                class="h-captcha"
                data-sitekey="{{ config.captcha.site_key }}"
            ></div>

            <div class="flex justify-between">
                <div></div>

                <div class="flex gap-2">
                    <button class="green">Okay</button>

                    <button
                        class="red"
                        onclick="document.getElementById('token_login').close()"
                        type="button"
                    >
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</dialog>

<script>
    const callback = "/api/v0/auth/callback";

    document
        .getElementById("login_form")
        .addEventListener("submit", async (e) => {
            e.preventDefault();
            const res = await fetch("/api/v0/auth/login", {
                method: "POST",
                body: JSON.stringify({
                    username: e.target.username.value,
                    password: e.target.acc_password.value,
                    token: e.target.querySelector(".h-captcha textarea").value,
                }),
                headers: {
                    "Content-Type": "application/json",
                },
            });

            const json = await res.json();

            if (json.success === false) {
                alert(json.message);
            } else {
                window.location.href = `${callback}?uid=${json.message}`;
            }
        });
</script>
{% call super() %} {% endblock %}
