{% extends "./base.html" %} {% block head %}
<meta property="og:title" content="{{ post.slug }}" />

{{ head_stuff|safe }} {% endblock %}{% block content %}
<div class="flex flex-col w-full h-full gap-2">
    <!-- prettier-ignore -->
    {% if !post.context.next.is_empty() | !post.context.previous.is_empty() %}
    <div class="card round flex items-center justify-between gap-2">
        <!-- prettier-ignore -->
        {% if !post.context.previous.is_empty() %}
        <a class="button round blue" href="/{{ post.context.previous }}"
            >Previous</a
        >
        {% endif %}

        <!-- prettier-ignore -->
        {% if !post.context.title.is_empty() %}
        <b>{{ post.context.title }}</b>
        {% endif %}

        <!-- prettier-ignore -->
        {% if !post.context.next.is_empty() %}
        <a class="button round blue" href="/{{ post.context.next }}">Next</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="card more_padding round min-h-[15rem]" id="tab_container">
        {{ rendered|safe }}
    </div>

    <div class="flex w-full gap-2 justify-between">
        <div class="flex gap-2">
            {% if post.context.template == "@" %}
            <button
                class="theme:primary round"
                onclick="trigger('markdown:use_template', ['{{ post.slug }}'])"
            >
                Use Template
            </button>
            {% endif %}

            <a href="/{{ post.slug }}/edit" class="button round">Edit</a>
        </div>

        <div class="flex flex-col items-end g-1 opacity-75">
            <span>
                Pub:
                <span class="date"> {{ post.date_published }} </span>
            </span>

            <span>
                Edit:
                <span class="date"> {{ post.date_edited }} </span>
            </span>

            <span>Views: {{ views }}</span>

            {% if let Some(user) = owner %}
            <a
                class="flex items-center gap-2"
                href="{{ config.rainbeam_host }}/@{{ user.username }}"
            >
                <img
                    title="{{ user.username }}'s avatar"
                    src="/api/v0/auth/profile/{{ user.id }}/avatar"
                    alt=""
                    class="avatar"
                    loading="lazy"
                    style="--size: 20px"
                />

                {{ user.username }}
            </a>
            {% endif %}
        </div>
    </div>
</div>

<link
    rel="stylesheet"
    href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css"
/>

<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>

<script>
    use("markdown", (markdown) => {
        use("bundled_env", (bundled_env) => {
            markdown.fix_markdown("tab_container");
        });
    });

    globalThis._app_base.annc = {
        type: "info",
        title: "Edit Code",
    };
</script>

<dialog id="template_dialog" class="animate-fade-in">
    <div style="width: 25rem; max-width: 100%" class="p-4">
        <div class="flex flex-col gap-2">
            <form id="template_form">
                <div class="gap-2 flex flex-col mb-2">
                    <input
                        name="slug"
                        id="slug"
                        placeholder="Slug"
                        class="small"
                    />

                    <input
                        name="password"
                        id="password"
                        placeholder="Password"
                        class="small"
                    />
                </div>

                <!-- submit -->
                <button class="round mb-2 green">Publish</button>
            </form>
        </div>

        <hr class="my-4" />

        <div class="w-full flex justify-end gap-2">
            <a
                class="button round red"
                href="javascript:document.getElementById('template_dialog').close();"
            >
                Close
            </a>
        </div>
    </div>
</dialog>
{% call super() %} {% endblock %}
